
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.reviews_comp_base {
    width: 100%;

    height: min-content;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}






.main_screen_heading {
    /* background-color: green; */
    height: 3rem;
    width: 80%;



    /*font-size: 1.5rem;
    color: #5040A1;
    font-family: 'Inter';
    font-weight: 500;


    display: flex;
    align-items: center; */


    display: flex;
    font-family: 'Inter', sans-serif;

  
    
    color: #5040A1;
    font-size: 25px;
    font-weight: 600;


}


.reviews_tab_base {
    width: 80%;
    min-height: 20rem;
    max-height: 20rem;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;


    padding-left: 5px;


}


.review_span {
    min-width: 25rem;
    max-height: 15rem;

    /* background-color: green; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    border-radius: 1rem;

    box-shadow: 2px 2px 2px 2px lightgray;

    padding-top: 1rem;
    padding-bottom: 1rem;



}



.review_top_bar,
.review_bottom_bar {
    width: 100%;
    height: 2rem;
    /* background-color: rgb(150, 150, 150); */

    display: flex;
    align-items: center;
    justify-content: flex-start;

}


.review_top_bar {
    font-size: 1.5rem;


    font-weight: 500;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    gap: 0.3rem;
}



.review_middle_bar {
    width: 100%;
    height: 10rem;
    /* background-color: aqua; */

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}


.review_top_bar_num {
    color: gray;
    font-weight: 400;
    font-size: 1.3rem;
    font-family: 'Inter';
    color: lightgray;


}



.review_bottom_bar {


    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-weight: 500;
    font-size: 1.3rem;


}


.review_top_bar_rating {
    font-size: 1.5rem;
    color: #1E1E1E;
    font-weight: 500;
    color: #242565;





}


.review_middle_bar,
.review_top_bar,
.review_bottom_bar {
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "Inter";
}




.max_lines2 {
    /* background-color: red; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    /* Set the maximum number of characters to 20 */
    /* max-width: 40ch; */
    /* Truncate the text and show an ellipsis for the overflow */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Wrap the text at word boundaries */
    white-space: break-word;
}


.reviews_comp_base {



    width: 100%;
    height: min-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}


.review_middle_bar{
    font-family: 'Inter', sans-serif;

}