@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');




.comment_section_base {
    width: 80%;
    height: 60rem;
    background-color: #F1F4F5;

    /* background-color: red; */

    /* margin-top: 5rem; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    border-radius: 1rem;

    padding: 1.5rem;

}


.comment_screen_sub_head {
    font-family: "Inter";
}



.comment_screen_bottom {
    width: 100%;
    height: 70vh;
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
}



.comment_textarea {
    height: 6rem;
    max-height: 6rem;
    min-height: 6rem;
}


.comment_write_area {

    width: 100%;
    background-color: #FAFAFA;

    height: 15rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;

    border-radius: 1rem;

}


.comment_write_bottom {
    width: 100%;
    height: 4rem;

    /* background-color: pink; */

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 1rem;
    padding-right: 1rem;
}



.comment_user_pic {
    /* height: 5rem; */
    /* width: 5rem; */
    border-radius: 50%;

}


.comment_post_btn {
    background-color: #242565 !important;
    border-radius: 2rem;
    height: 2.8rem;
    width: 8rem;
}



.comment_post_btn:hover {
    background-color: #242565;

}








.comment_box {
    width: 100%;
    height: 10rem;
    min-height: 10rem;
    background-color: white;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 1rem;
    gap: 0.5rem;
    
}



.comment_user_info {
    width: 100%;
    height: 3rem;

}


.comment_user_info {
    width: 100%;
    height: 2rem;
    /* background-color: pink; */

    display: flex;
    align-items: center;
    justify-content: space-between;

}


.comment_name_pic_span {
    width: 20rem;
    height: 100%;
    /* background-color: red; */

    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.1rem;
    color: black;
    font-family: "Inter";
    gap: 1rem;
    font-weight: 450;
}


.comment_time {
    font-size: 0.85rem;
    color: gray;
    font-family: "Inter";
    width: max-content !important;
    /* background-color: red; */
}


.comment_msg {

    font-size: 1.1rem;
    color: gray;

    /* background-color: yellow; */
    width: 100%;
    height: 100%;



}



.max_lines2 {
    /* background-color: red; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    /* Set the maximum number of characters to 20 */
    /* max-width: 40ch; */
    /* Truncate the text and show an ellipsis for the overflow */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Wrap the text at word boundaries */
    white-space: break-word;

}



.max_lines1 {
    /* background-color: red; */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    /* Set the maximum number of characters to 20 */
    /* max-width: 40ch; */
    /* Truncate the text and show an ellipsis for the overflow */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Wrap the text at word boundaries */
    white-space: break-word;

}



.comments_scrollbar {
    min-height: 23rem;
    max-height: 23rem;
    /* height: 20rem; */


    width: 100%;



    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 1rem;


    /* background-color: red; */
    padding: 1rem;


}


.comment_screen_sub_head , .comment_msg{
    font-family: 'Inter', sans-serif;
}


