.gallery_base{
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}



.gallery_screen_heading{
    width: 100% !important;
    
}


