.footerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
}

.footerImg img{
    width: 100% !important;
    height: 100%;
}

@media (max-width:502px){
    .footerImg img{
        width: 100% !important;
        height: 200% !important;
    }
}